.container {
  background-color: rgb(244 244 245);
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
}

.textGoogle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.svg {
  width: 1rem;
  height: 1rem;
}